Package: flink-kubernetes-operator
Description: The Flink kubernetes operator
Depends: openjdk-17-jre
Build-Depends: openjdk-17-jdk
Maintainer: Data Platform Engineering <data-platform-engineering@wikimedia.org>
