Package: openjdk-8-jre
Description: base image for running Java 8 applications.
 An image used to build images to be used in the WMF
 pipeline. Contains the just the JRE for version 8,
 not the entire JDK
Maintainer: Alexandros Kosiaris <akosiaris@wikimedia.org>
