Package: openjdk-25-jdk
Description: base image for build Java 25 applications.
 An image used to build images to be used in the WMF
 pipeline.
Maintainer: SRE Infrastructure Foundations <sre-foundations@wikimedia.org>
