Package: abstractwiki-rust
Description: Base image for building Rust applications.
  Using the 'rustc' package from Debian backports, so version of Rust will upgrade over time.
Maintainer: James D. Forrester <jforrester@wikimedia.org>
