Package: httpd
Description: Basic httpd container.
 Apache runs as www-data in this image. It is expected that the configuration
 will be provided via a mounted volume for the whole /etc/apache directory.
 No fancy mechanism is used to load modules or not - you will have to provide that as well.
Maintainer: Giuseppe Lavagetto <joe@wikimedia.org>



